@import "tailwindcss";

@font-face {
  font-family: "Royal";
  src: url("/Royal.ttf") format("truetype");
  font-style: normal;
}

@font-face {
  font-family: "Festive";
  src: url("/Festive.ttf") format("truetype");
  font-style: normal;
}

@font-face {
  font-family: "Syne";
  src: url("/Syne.ttf") format("truetype");
  font-style: normal;
}

